langchain
langgraph
langsmith
google-generativeai
psycopg2-binary
python-dotenv
fastapi
uvicorn
sqlalchemy
pydantic
newsapi-python
python-jose[cryptography]
passlib[bcrypt]
langchain[google-genai]
langgraph-checkpoint-sqlite
langchain-core